<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quidem quisquam ducimus ratione maiores voluptatibus, quae, porro quod sit culpa quo, ut in. Possimus provident quos aut. Molestiae, assumenda aliquam!</p>
    </div>
</section>