<div class="jumbotron mt-4">
        <h1 class="display-4">Node App Nodejs ando MongoDB</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi quia fugiat dolor natus doloribus veniam.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, sit!</p>
        <a href="https://www.instagram.com/depreeesing/" class="btn btn-primary">Perfil del creador</a>
</div>

