<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs And Mpngodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quasi a nisi rerum repudiandae tempore.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laborum perferendis ipsum nisi neque debitis possimus laudantium deleniti facere ut? Doloremque maxime, neque consectetur nobis necessitatibus rem. Quasi, eius laudantium.</p>
    <a href="https://google.com" class="btn btn-primary">Ir a Google</a>
</div>
