 <h1>navegacion</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nam quibusdam, id numquam nemo, beatae, amet ad nihil voluptas possimus illum vero excepturi velit illo praesentium. Explicabo laborum quasi placeat.</p>
    <h1>footer</h1>